<app-navbar [isAdmin]="isAdmin"></app-navbar>

<div class="content">
  <div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner></mat-spinner>
  </div>

  <div class="form-container">
    <form [formGroup]="itemForm" (ngSubmit)="onSave()">

      <div class="form-field">
        <mat-form-field appearance="fill" class="wide-form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="itemForm.get('name')?.hasError('required')">
            Name is required.
          </mat-error>
          <mat-error *ngIf="itemForm.get('name')?.hasError('minlength')">
            Name must be at least 3 characters long.
          </mat-error>
          <mat-error *ngIf="itemForm.get('name')?.hasError('maxlength')">
            Name should not exceed 15 characters long.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="fill" class="wide-form-field">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="itemForm.get('dateOfBirth')?.hasError('required')">
            Date of Birth is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field">
        <label>Gender:</label>
        <mat-radio-group formControlName="gender" required>
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
          <mat-radio-button value="Other">Other</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="itemForm.get('gender')?.hasError('required')">
        </mat-error>
      </div>

      <div class="form-field">
        <mat-form-field appearance="fill" class="wide-form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter your email" type="email" required>
          <mat-error *ngIf="itemForm.get('email')?.hasError('required') && itemForm.get('email')?.touched">
            Email is required.
          </mat-error>
          <mat-error *ngIf="itemForm.get('email')?.hasError('email') && itemForm.get('email')?.touched">
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>
      </div>

      <div formArrayName="phoneNumbers">
        <div *ngFor="let phone of phoneNumbers.controls; let i = index">
          <div class="form-field">
            <mat-form-field appearance="fill" class="wide-form-field">
              <mat-label>Phone Number {{ i + 1 }}</mat-label>
              <input matInput [formControlName]="i" placeholder="Enter phone number">
              <button mat-icon-button matSuffix color="warn" (click)="removePhoneNumber(i)" type="button">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addPhoneNumber()" type="button">Add Phone Number</button>
      </div>


      <!-- <button mat-raised-button color="primary" type="submit" [disabled]="itemForm.invalid">Save</button> -->
      <button mat-raised-button [color]="itemForm.valid ? 'primary' : ''" type="submit" [disabled]="itemForm.invalid">Save</button>

    </form>
  </div>
</div>
