<mat-toolbar color="primary">
  <a mat-button class="brand-link" routerLink="/list">To-Do Application</a>
  <span class="spacer"></span>

  <button mat-button class="button" routerLink="/list">Item List</button>

  <button mat-button class="button"  *ngIf="isAdmin" routerLink="/accounts">All Accounts</button>

  <button mat-fab class="custom-fab" *ngIf="isAdmin" routerLink="/add">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-button class="button" routerLink="/bookmark">Bookmarked</button>

  <!-- Profile Icon with Menu Trigger -->
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <!-- Dropdown Profile Menu -->
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button mat-menu-item (click)="signOut()">Logout</button>
  </mat-menu>

</mat-toolbar>
