<mat-toolbar color="primary">
  <a mat-button class="brand-link">To-Do Application</a>
  <span class="spacer"></span>
  <button mat-button class="button" routerLink="/list">Item List</button>
  <button mat-button class="button" routerLink="/bookmark">Bookmarked</button>
</mat-toolbar>

<div class="content">
  <div class="form-container">
    <form [formGroup]="itemForm" (ngSubmit)="onSave()">

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="itemForm.get('name')?.hasError('required')">
          Name is required.
        </mat-error>
        <mat-error *ngIf="itemForm.get('name')?.hasError('minlength')">
          Name must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="itemForm.get('name')?.hasError('maxlength')">
          Name should not exceed 15 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="itemForm.get('dateOfBirth')?.hasError('required')">
          Date of Birth is required.
        </mat-error>
      </mat-form-field>

      <div>
        <label>Gender:</label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
          <mat-radio-button value="Other">Other</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="itemForm.get('gender')?.hasError('required')">
        </mat-error>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="itemForm.get('email')?.hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="itemForm.get('email')?.hasError('email')">
          Enter a valid email address.
        </mat-error>
      </mat-form-field>

      <div formArrayName="phoneNumbers">
        <div *ngFor="let phone of phoneNumbers.controls; let i = index">
          <mat-form-field appearance="fill">
            <mat-label>Phone Number {{i + 1}}</mat-label>
            <input matInput [formControlName]="i">
            <button mat-icon-button matSuffix color="warn" (click)="removePhoneNumber(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="addPhoneNumber()" type="button">Add Phone Number</button>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="itemForm.invalid">Save</button>
    </form>
  </div>
</div>
